@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.d-flex.flex-column.min-vh-100 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow-1 {
    flex-grow: 1;
}

.bg-celeste {
    background-color: #02B1F4 !important;
}

.text-white {
    color: white !important;
}

.text-celeste {
    color: #02B1F4 !important;
}

.btn-celeste {
    background-color: #02B1F4;
    border-color: #02B1F4;
}

.btn-celeste:hover {
    background-color: #0197D4;
    border-color: #0197D4;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1040;
    transition: opacity 1s ease;
}

.welcome-message {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    text-align: center;
    animation: fadeOut 2s ease-out 1s forwards; 
}

.welcome-message img {
    margin-bottom: 20px;
}

.welcome-message h1 {
    font-size: 4rem;
    color: #ffffff;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar {
    animation: 0.5s ease-out 0s 1 slideInDown;
    border-bottom: 2px solid #02B1F4;
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: 80px;
}

.nav-link {
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #02B1F4;
    transform: scale(1.1);
}
.custom-navbar-toggler {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-nav .nav-link {
    color: #02B1F4;
}

.navbar-nav .nav-link:hover {
    color: #0197D4;
}

.navbar-nav .dropdown-menu {
    background-color: rgba(2, 177, 244, 0.9); /* Fondo azul claro */
    color: white; /* Color del texto */
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: white; /* Color del texto de los elementos */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #0197D4;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
}

.custom-navbar-collapse {
    background-color: rgba(2, 177, 244, 0.9); /* Fondo azul claro */
    backdrop-filter: blur(10px); /* Desenfoque de fondo */
    padding: 10px; /* Añadir un poco de padding */
    border-radius: 5px; /* Bordes redondeados */
}

/* Hacer que las letras sean blancas en el menú colapsado */
.custom-navbar-collapse .nav-link {
    color: white !important;
}

/* Hacer que el botón de cerrar sesión también tenga letras blancas */
.custom-navbar-collapse .btn-celeste {
    color: white !important;
}

@media (max-width: 991.98px) {
    .custom-navbar-collapse {
        background-color: rgba(2, 177, 244, 0.9);
    }
    .custom-navbar-collapse .nav-link,
    .custom-navbar-collapse .navbar-brand,
    .custom-navbar-collapse .dropdown-item {
        color: white !important;
    }
}


footer {
    animation: 0.5s ease-out 0s 1 slideInUp;
}

footer a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

footer a:hover {
    transform: scale(2);
}

footer p {
    font-size: 20px;
}

.navbar-collapse {
    text-align: center;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .nav-link {
        padding: 10px;
    }
}

.card-deck .card {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.card-deck .card:hover {
    transform: scale(1.05);
    background-color: #02B1F4;
    color: white;
}

.card-title {
    transition: color 0.3s ease;
}

.card-deck .card:hover .card-title {
    color: white;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

/*carrusel*/
.carousel-item img {
    width: 100%; /* Establece el ancho al 100% del contenedor */
    height: 400px; /* Establece una altura fija */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y recortándola para que se ajuste */
}

/* Modales estilos */
.modal-content {
    border-radius: 10px;
    border: none;
}

/*Scroll repeticiones*/
.scroll-container {
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
}

.modal-header {
    border-bottom: none;
    text-align: center;
}

.modal-header .close {
    margin-top: -10px;
}

.modal-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 2rem;
}

.input-group .form-control {
    border-right: 0;
}

.input-group-append .btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-primary {
    background-color: #02B1F4;
    border-color: #02B1F4;
    font-size: 1rem;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #02B1F4;
    border-color: #02B1F4;
}

/* Estilos para la lista de ejercicios */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exercise-name {
    flex-grow: 1;
    font-weight: bold;
}

.exercise-result {
    margin-left: 20px; /* Espacio entre el nombre del ejercicio y el resultado */
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
