<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Resultado del Procesamiento</h1>

    <div id="resultados">
        <!-- Aquí se mostrarán los resultados dinámicamente -->
    </div>

    <form id="procesarForm">
        {% csrf_token %}
        <label for="sesionID">ID de Sesión:</label>
        <input type="text" id="sesionID" name="sesionID">
        <br>
        <label for="num_repeticiones">Número de Repeticiones:</label>
        <input type="text" id="num_repeticiones" name="num_repeticiones">
        <br>
        <button type="submit">Procesar</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#procesarForm').on('submit', function(event) {
                event.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                var formData = form.serialize();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    dataType: 'json',
                    success: function(data) {
                        // Iteramos sobre los resultados y los mostramos
                        data.forEach(function(resultado) {
                            $('#resultados').append('<h2>Repetición ' + resultado.numero_repeticion + '</h2><p>' + resultado.resultado + '</p><hr>');
                        });
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    },
                    complete: function() {
                        // Limpiamos los campos del formulario
                        $('#sesionID').val('');
                        $('#num_repeticiones').val('');
                    }
                });
            });
        });
    </script>
</body>
</html>
