<!DOCTYPE html>
<html>
<head>
    <title>Movimientos de Terapia</title>
</head>
<body>
    <a href="{% url 'gestion_movimiento' %}">Movimientos</a>

    <h1>Movimientos de Terapia {{ terapia.terapiaID }}</h1>
    <p><strong>Paciente:</strong> {{ terapia.paciente.nombre1 }} {{ terapia.paciente.apellido1 }}</p>
    <p><strong>Terapeuta:</strong> Dr. {{ terapia.fisioterapeuta.apellido }}</p>
    <p><strong>Fecha:</strong> {{ terapia.fecha }}</p>
    <button onclick="window.history.back()">Volver a atrás</button>
    
    <form method="post" action="{% url 'actualizar_sesiones' %}">
        {% csrf_token %}
        <ul>
            {% with count_true=0 %}
                {% for sesion in sesiones %}
                    {% if sesion.estado %}
                        {% with count_true=count_true|add:1 %}
                            <li>
                                {{ sesion.movimientoID.nombre }}
                                <input type="checkbox" name="sesiones_seleccionadas" value="{{ sesion.sesionID }}" checked disabled>
                                <label for="repeticiones">Repeticiones:</label>
                                <input type="number" id="repeticiones" name="repeticiones_{{ sesion.sesionID }}" value="{{ sesion.repeticiones }}" min="10" max="20" disabled>
                            </li>
                        {% endwith %}
                    {% else %}
                        <li>
                            {{ sesion.movimientoID.nombre }} 
                            <input type="checkbox" name="sesiones_seleccionadas" value="{{ sesion.sesionID }}">
                            <label for="repeticiones">Repeticiones:</label>
                            <input type="number" id="repeticiones" name="repeticiones_{{ sesion.sesionID }}" value="{{ sesion.repeticiones }}" min="10" max="20">
                        </li>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </ul>
    
        {% if count_true >= 5 %}
            <p>Ya has marcado el máximo de sesiones.</p>
            <button type="submit" disabled>Actualizar Estados</button>
        {% else %}
            <button type="submit">Actualizar Estados</button>
        {% endif %}
        
    </form>

</body>
</html>




