<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesar Repeticiones</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <p>Sesión ID: {{ sesionID }}</p>
        <p>Número de Repeticiones: {{ num_repeticiones }}</p>
        <p>Nombre de la Sesión: {{ sesion_terapia.terapiaID }}</p>
    </div>

    <h1>Procesar Repeticiones</h1>

    <div id="resultados"></div>
    <div id="promedio"></div>

    <form action="{% url 'actualizar_sesiones' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Siguiente Sesión">
    </form>

    <button id="volver" style="display: none;" onclick="window.history.back();" class="btn btn-secondary">Volver atrás</button>

    <script>
        $(document).ready(function() {
            var sesionID = '{{ sesionID }}';
            var num_repeticiones = '{{ num_repeticiones }}';
            var csrfToken = '{{ csrf_token }}';

            var totalMovimientosBuenos = 0; // Variable para sumar los movimientos buenos
            var totalRepeticiones = 0; // Contador de repeticiones completadas

            function procesarRepeticion(i) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "procesar_repeticion" %}',
                    data: {
                        'sesionID': sesionID,
                        'num_repeticion': i,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function(response) {
                        var etiqueta = response.resultado.etiqueta.replace('[', '').replace(']', '');  // Eliminar corchetes
                        var mensaje = etiqueta === '0' ? 'Repetición mala' : (etiqueta === '1' ? 'Repetición buena' : 'Valor no reconocido');
                        $('#resultados').append('<h2>Repetición ' + response.numero_repeticion + '</h2><p>' + mensaje + '</p><hr>');
                        
                        // Calcular promedio de movimientos buenos
                        if (etiqueta === '1') {
                            totalMovimientosBuenos++;
                        }

                        totalRepeticiones++;

                        // Verificar si se han completado todas las repeticiones
                        if (totalRepeticiones === parseInt(num_repeticiones)) {
                            var promedio = totalMovimientosBuenos / totalRepeticiones;
                            $('#promedio').text('Promedio de exito: ' + promedio.toFixed(2) * 100 + '%');
                            $('#volver').show(); // Mostrar el botón de volver al final
                        } else {
                            // Procesar la siguiente repetición
                            procesarRepeticion(i + 1);
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }

            procesarRepeticion(1);
        });
    </script>
</body>
</html>
