{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesiones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Session ID: {{ session_id }}</h1>
    <p> Repeticiones: {{ repeticion }}</p>
    <p> Terapia ID: {{ terapiaID.terapiaID }}</p>

    <h1>Procesar Repeticiones</h1>

    <div id="resultados"></div>
    <div id="promedio"></div>

    {% if next_index < sesiones_seleccionadas|length %}
    <a href="{% url 'show_session' next_index %}">Siguiente</a>
    
    {% endif %}
    <br>
    <a href="{% url 'movimientos' terapiaID.terapiaID %}" class="btn btn-primary">Volver atrás</a>
    <button type="button" onclick="window.location.reload();" class="btn btn-primary">Reiniciar</button>
    
        <!-- Footer -->
        <footer class="bg-celeste text-center text-lg-start mt-5 py-3">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h4 class="text-uppercase text-white">Síguenos en nuestras redes sociales!</h4>
                        <a href="#"><img src="{% static 'imagenes/facebook.png' %}" alt="Facebook" width="70" height="70" /></a>
                        <a href="#"><img src="{% static 'imagenes/twitter.png' %}" alt="Twitter" width="92" height="92" /></a>
                        <a href="#"><img src="{% static 'imagenes/instagram.png' %}" alt="Instagram" width="110" height="80" /></a>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <p class="text-white">&copy; 2024 Terapias. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>

</div>
    <script>
        $(document).ready(function() {
            var sesionID = '{{ session_id }}';
            var num_repeticiones = '{{ repeticion }}';
            var csrfToken = '{{ csrf_token }}';

            var totalMovimientosBuenos = 0;
            var totalRepeticiones = 0;

            function procesarRepeticion(i) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "procesar_repeticion" %}',
                    data: {
                        'sesionID': sesionID,
                        'num_repeticion': i,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function(response) {
                        var etiqueta = response.resultado.etiqueta.replace('[', '').replace(']', '');
                        var mensaje = etiqueta === '0' ? 'Repetición mala' : (etiqueta === '1' ? 'Repetición buena' : 'Valor no reconocido');
                        $('#resultados').append('<h2>Repetición ' + response.numero_repeticion + '</h2><p>' + mensaje + '</p><hr>');

                        if (etiqueta === '1') {
                            totalMovimientosBuenos++;
                        }

                        totalRepeticiones++;

                        if (totalRepeticiones === parseInt(num_repeticiones)) {
                            var promedio = totalMovimientosBuenos / totalRepeticiones;
                            $('#promedio').text('Promedio de éxito: ' + (promedio * 100).toFixed(2) + '%');
                            //Actulizar el porcentaje
                            $.ajax({
                                type: 'POST',
                                url: '{% url "actualizar_porcentaje" %}',
                                data: {
                                    'sesionID': sesionID,
                                    'porcentaje': promedio,
                                    'totalRepeticiones': totalRepeticiones,
                                    'csrfmiddlewaretoken': csrfToken
                                },
                                success: function(response) {
                                    console.log('Porcentaje actualizado correctamente en la base de datos.');
                                },
                                error: function(xhr, errmsg, err) {
                                    console.log('Error al actualizar el porcentaje en la base de datos:', xhr.status + ": " + xhr.responseText);
                                }
                            });
                        } else {
                            procesarRepeticion(i + 1);
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            }

            procesarRepeticion(1); // Iniciar el proceso de repeticiones
        });
    </script>
</body>
</html>
