<!DOCTYPE html>
<html>
<head>
    <title>Gestión de Paciente</title>
</head>
<body>
    <h1>Gestión de Paciente</h1>

    <form method="post" action="{% url 'terapia_paciente' %}">
        {% csrf_token %}
        <label for="cedula">Cédula del Paciente:</label>
        <input type="number" maxlength="10" id="cedula" name="cedula" required>
        <button type="submit" name="buscar_paciente">Buscar Paciente</button>
    </form>

    {% if paciente %}
        <h2>Detalles del Paciente</h2>
        <p>Nombre: {{ paciente.nombre1 }} {{ paciente.apellido1 }}</p>
        <p>Cédula: {{ paciente.cedula }}</p>

        <form method="post" action="{% url 'terapia_paciente' %}">
            {% csrf_token %}
            <input type="hidden" name="paciente_id" value="{{ paciente.cedula }}">
            <button type="submit" name="crear_terapia">Crear Terapia</button>
        </form>
        
        <form method="post" action="{% url 'terapia_paciente' %}">
            {% csrf_token %}
            <button type="submit" name="limpiar_pantalla">Limpiar</button>
        </form>

        <h2>Terapias del Paciente</h2>
        {% if terapias %}
        <ul>
            {% for terapia in terapias %}
                <li> Terapia {{ forloop.counter }} - {{ terapia.fecha }} - Dr. {{ terapia.fisioterapeuta.apellido }}
                    <form method="get" action="{% url 'movimientos' terapia.terapiaID %}">
                        <button type="submit">Movimientos</button>
                    </form>
                    

                    <form method="post" action="{% url 'terapia_paciente' %}">
                        {% csrf_token %}
                        <input type="hidden" name="paciente_id" value="{{ paciente.cedula }}">
                        <input type="hidden" name="eliminar_terapia" value="{{ terapia.terapiaID }}">
                        <button type="submit">Eliminar</button>
                    </form>

                    
                    
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No se encontraron terapias para este paciente.</p>
        {% endif %}
    {% endif %}
</body>

</html>


<script>
    function limitarLongitud(input, maxLength) {
        if (input.value.length > maxLength) {
            input.value = input.value.slice(0, maxLength); // Recorta el valor hasta el maxLength
        }
    }
    </script>