<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Ejemplo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css"> 
    <style>
        
    </style>
</head>
<body>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand text-celeste" href="#">
        <img src="imagenes/logoempresa.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        Terapias
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-celeste" href="Movimientos.html">Salir</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<!-- Contenido -->
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <!-- Recuadro grande -->
            <div class="border rounded p-4 mb-4">
                <h3 class="text-center mb-4">Movimiento 1</h3>
                <div class="row">
                    <!-- Card de la izquierda -->
                    <div class="col-md-6">

                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Resultados</h5>
                                <!-- Lista de ejercicios -->
                                <div class="list-group scroll-container">
                                    <a  class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 1</span>
                                        <span class="exercise-result">80%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 2</span>
                                        <span class="exercise-result">60%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 3</span>
                                        <span class="exercise-result">75%</span>
                                    </a>
                                    <a  class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 5</span>
                                        <span class="exercise-result">80%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 6</span>
                                        <span class="exercise-result">60%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 7</span>
                                        <span class="exercise-result">75%</span>
                                    </a><a  class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 8</span>
                                        <span class="exercise-result">80%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 9</span>
                                        <span class="exercise-result">60%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 10</span>
                                        <span class="exercise-result">75%</span>
                                    </a><a  class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 11</span>
                                        <span class="exercise-result">80%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 12</span>
                                        <span class="exercise-result">60%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 13</span>
                                        <span class="exercise-result">75%</span>
                                    </a>
                                    <a  class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 14</span>
                                        <span class="exercise-result">80%</span>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        <span class="exercise-name">Repetición 15</span>
                                        <span class="exercise-result">75%</span>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Card de la derecha -->
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- Card del resultado final -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Resultado Final</h5>
                                <!-- Valor en porcentaje -->
                                <h2 class="text-center">85%</h2>
                                <button class="btn btn-secondary btn-block mt-3" data-toggle="modal"
                                data-target="#deleteTherapyModal">Reiniciar</button>
                                
                                <button class="btn btn-primary btn-block mt-3">Siguiente</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="modal fade" id="deleteTherapyModal" tabindex="-1" role="dialog"
            aria-labelledby="deleteTherapyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteTherapyModalLabel">Reiniciar Movimiento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro que quieres reiniciar este movimiento?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-success"> Sí </button>
                    </div>
                </div>
            </div>
        </div>

     <!-- Footer -->
     <footer  class="bg-celeste text-center text-lg-start mt-5 py-3">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h4 class="text-uppercase text-white">Síguenos en nuestras redes sociales!</h4>
                    <a href="#"><img src="imagenes/facebook.png" alt="Facebook" width="70" height="70" /></a>
                    <a href="#"><img src="imagenes/twitter.png" alt="Twitter" width="92" height="92" /></a>
                    <a href="#"><img src="imagenes/instagram.png" alt="Instagram" width="110" height="80" /></a>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <p class="text-white">&copy; 2024 Terapias. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
<!-- cerrar sesion Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">¿Listo para salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">Selecciona "Cerrar Sesión" a continuación si estás listo para finalizar tu
            sesión actual.
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="index.html">Cerrar Sesión</a>
        </div>
    </div>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
